
            .navbar-nav > li > a {
                padding-top:1px !important; padding-bottom:1px !important;
                height: 30px;
            }
            .navbar {min-height:10px !important;}
            .navbar-toggle {
                padding: 0 0;
                margin-top: 0px;
                margin-bottom: 0;
            }
            .navbar-brand {
                max-height: 40px;
            }
            .logoboi {
                max-height: inherit;
            } 
             .button {
                background-color: #f8d5ce;
                border: 5px solid #eb4b2e;
                color: #eb4b2e;
                padding: 15px 15px;
                text-align: center;
                text-decoration: none;
                display: inline-block;
                font-size: 24px;
                margin: 4px 2px;
                border-radius: 20px;
            }
        