
.navbar-nav > li > a {
                padding-top:1px !important; padding-bottom:1px !important;
                height: 30px;
            }
            .navbar {min-height:10px !important;}
            .navbar-toggle {
                padding: 0 0;
                margin-top: 0px;
                margin-bottom: 0;
            }
            .navbar-brand {
                max-height: 40px;
            }
            .logoboi {
                max-height: 30px;
                max-width: 228px;
            } 
             .button {
                background-color: #f8d5ce;
                border: 5px solid #eb4b2e;
                color: #eb4b2e;
                padding: 15px 15px;
                text-align: center;
                text-decoration: none;
                display: inline-block;
                font-size: 24px;
                margin: 4px 2px;
                border-radius: 20px;
            }
            
            #showcase {
                background-image: url(../images/back.jpg);
                margin-top: 20px;
                background-size: cover;
                background-repeat: no-repeat; 
                color: white;
                font-family: 'Poppins', sans-serif;
                
            }
           #hi {
               border-radius: 100%;
               height: 40px;
               margin-left: 2px;
               margin-bottom: 10px;
               
        
            }
 
            h1 {
                margin-left: 10px;
                font-size: 140%;
            }

@media (min-width: 768px){
#account-dropdown-menu-id {
    position: absolute;
    left: 55%;
    }
}

#account{
    padding-bottom: 0;
    padding-top: 0;
}